$page-bg: linear-gradient(to bottom, #f0f8ff, #fff);
$primary-red: #c62828;
$secondary-green: #2e7d32;
$gold: #fbc02d;
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.register-wrapper {
flex: 1;
padding: 2.5rem 3rem;
display: flex;
justify-content: center;

    .register-form-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .register-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    text-align: center;

    mat-card-header {
        padding: 0;
    }

    h3 {
        margin-top: 0;
    }

    mat-card-title {
        color: $secondary-green;
        margin-bottom: 0.1rem;
    }

    img.image-illustration {
        width: 25%;
        margin: 0 auto;
        height: auto;
        border-radius: 12px;
        display: flex;
        align-items: center;
    }

    p {
        color: $secondary-green;
        margin-bottom: 1.5rem;
        max-width: 280px;
    }

    .register-form {
        flex: 1;
        flex-direction: column;
        display: flex;

        mat-form-field {
        outline-color: #0c440f;
        width: 100%;
        color:#0c440f;

        mat-label {
            color: $secondary-green;
        }
        }

        .btn-block {
        background-color: $primary-red;
        color: white;
        font-weight: 600;
        width: 100%;
        padding: 0.75rem 0;
        border-radius: 8px;
        transition: background-color 0.3s ease;

        &:hover:not(:disabled) {
            background-color: darken($primary-red, 10%);
        }

        &:disabled {
            background-color: #ccc;
            color: #666;
            cursor: not-allowed;
        }
        }
    }
    }
}

