<mat-toolbar class="site-wide-header">
    <mat-toolbar-row>
        <span class="site-logo">
            Christmas Lists
            <mat-icon>checklist_rtl</mat-icon>
        </span>

        <span>
            <a
            mat-button
            routerLink="/home"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a>

            <a
            mat-button
            routerLink="/lists/user-list"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >My List</a>

            <a
            mat-button
            routerLink="/groups"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >My Groups</a>
        </span>
    </mat-toolbar-row>
</mat-toolbar>