<nav class="header">
    <a 
    routerLink="/home"
    padding="1rem"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    >Home</a>
    <a 
    routerLink="/lists/user-list"
    padding="1rem"
    >My List</a>
    <!--View the members of your group and their lists-->
    <a 
    routerLink="/lists/group-lists"
    padding="1rem"
    >My Group</a>
    <!--Set a budget, track your purchases, organize your shopping-->
    <a 
    routerLink="/group/members"
    padding="1rem"
    >My Purchases</a> 
</nav>