@use '@angular/material' as mat;
@use './styles_theme-colors.scss' as xmas-theme;

html {
    color-scheme: light-dark;

    @include mat.theme((
        color: (
            primary: xmas-theme.$primary-palette,
            tertiary: xmas-theme.$tertiary-palette
        ),
        typography: Roboto,
        density: 0
    ));
}